:host {
  display: flex;
  align-items: center;

  position: absolute;
  right: 2rem;
}

.celsius, .fahrenheit {
  font-size: 2rem;
  font-weight: 200;
}

.celsius {
  margin-right: 0.5rem;
}

.fahrenheit {
  margin-left: 0.5rem;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  display: block;
  position: relative;
  width: 5rem;
  height: 2.5rem;

  background: grey;
  border-radius: 2.5rem;

  cursor: pointer;
  text-indent: -9999px;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;

  width: 2rem;
  height: 1.9rem;

  border-radius: 2rem;
  background: #fff;

  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 2rem;
}
